.sessao{
  margin-top: 40px;
}

.faculdades{
  margin-top: 20px;
}

div#principal{
  background: #fff;
  padding: 4%;
  box-shadow: 5px;
  border-radius: 2%;

}

.button{
  margin-top: 20px;
  margin-right: -100px;
}
