  <div class="container">
    <nav>
      <div>
         <h3 style="color: aliceblue;">Gerador de Curriculos</h3>
      </div>
  </nav>
  <div id="sidebar">
    <ul class="nav flex-column" style="background-color: #e9e9e9; height: 570px;">

      <li id="menu" class="nav-item">
          <a class="nav-link" routerLink="/">Dados Pessoais</a>
      </li>

      <li id="menu" class="nav-item">
        <a class="nav-link" routerLink="/cliente">Objetivos</a>
      </li>

      <li id="menu" class="nav-item">
          <a class="nav-link" routerLink="/produto">Formação Academica</a>
      </li>

      <li id="menu" class="nav-item">
          <a class="nav-link" routerLink="/venda">Experiências Profissionais</a>
      </li>
      <li id="menu" class="nav-item">
        <a class="nav-link" routerLink="/venda">Idiomas</a>
    </li>
    <li id="menu" class="nav-item">
      <a class="nav-link" routerLink="/venda">Cursos Complementares</a>
  </li>

  </ul>

  </div>

  <main>
    <ng-content></ng-content>
  </main>


  </div>






  <!-- <div class="row">
      <div class="col-2">


          <ul class="nav flex-column" style="background-color: #e9e9e9; height: 570px;">

              <li id="menu" class="nav-item">
                  <a class="nav-link" routerLink="/">Dados Pessoais</a>
              </li>

              <li id="menu" class="nav-item">
                <a class="nav-link" routerLink="/cliente">Objetivos</a>
              </li>

              <li id="menu" class="nav-item">
                  <a class="nav-link" routerLink="/produto">Formação Academica</a>
              </li>

              <li id="menu" class="nav-item">
                  <a class="nav-link" routerLink="/venda">Exeperincias Profissionais</a>
              </li>

          </ul>


      </div>

      <div class="col-10">
          <ng-content></ng-content>
      </div>
  </div> -->


