<nav class="navbar nav-bar-dark bg-dark shadow">
  <div class="container-fluid justify-content-center">
     <span class="navbar-brand mb-0 h1" style="color: aliceblue;">Gerador de Curriculos</span>
  </div>
</nav>

<div class="container-fluid">

</div>



  <!-- <div class="container"> -->


  <!-- <div id="sidebar">
    <ul class="nav flex-column" style="background-color: #e9e9e9; height: 570px;">

      <li id="menu" class="nav-item">
          <a class="nav-link" href="#Dados">Dados Pessoais</a>
      </li>

      <li id="menu" class="nav-item">
        <a class="nav-link" href="#Objetivos">Objetivos</a>
      </li>

      <li id="menu" class="nav-item">
          <a class="nav-link" routerLink="/produto">Formação Academica</a>
      </li>

      <li id="menu" class="nav-item">
          <a class="nav-link" routerLink="/venda">Experiências Profissionais</a>
      </li>
      <li id="menu" class="nav-item">
        <a class="nav-link" routerLink="/venda">Idiomas</a>
    </li>
    <li id="menu" class="nav-item">
      <a class="nav-link" routerLink="/venda">Cursos Complementares</a>
  </li>

  </ul>
  </div>


  <main>
    <ng-content></ng-content>

  </main> -->


  <!-- </div> -->






