<app-layout>
  <div class="card">
    <div class="card-body">
      <div class="row">
         <div class="col-lg-11">
          <h5 class="card-title">Dados Pessoais</h5>
         </div>
         <div class="col-lg-1">
          <fa-icon class="icon" [icon]="faAngleUp" *ngIf="cardDados===true" (click)="abrirDados()"></fa-icon>
          <fa-icon class="icon" [icon]="faAngleDown" *ngIf="cardDados===false" (click)="abrirDados()"></fa-icon>
         </div>
      </div>
      <div *ngIf="cardDados===true">
       <div class="row">
         <div class="form-group col-lg-12">
          <label for="nome" class="control-label">Nome Completo:</label>
          <input type="text" name="nome" class="form-control" [(ngModel)]="curriculo.dados.nome">
         </div>
        </div>

        <div class="row">
         <div class="form-group col-lg-4">
          <label for="nome" class="control-label">Nacionalidade:</label>
          <input type="text" class="form-control" [(ngModel)]="curriculo.dados.nacionalidade">
         </div>

         <div class="form-group col-lg-4">
          <label for="nome" class="control-label">Estado Civil:</label>
          <input type="text" class="form-control" [(ngModel)]="curriculo.dados.estado_civil">
         </div>

         <div class="form-group col-lg-4">
          <label for="nome" class="control-label">Data de Nascimento:</label>
          <input type="date" class="form-control" [(ngModel)]="curriculo.dados.data_nascimento">
         </div>

        </div>

       <div class="row">
        <div class="form-group col-lg-4">
          <label for="nome" class="control-label">Telefone:</label>
          <input type="tel" class="form-control" [(ngModel)]="curriculo.dados.telefone">
        </div>

        <div class="form-group col-lg-4">
          <label for="nome" class="control-label">Linkedin:</label>
          <input type="url" class="form-control" [(ngModel)]="curriculo.dados.linkedin">
        </div>

        <div class="form-group col-lg-4">
          <label for="nome" class="control-label">Email:</label>
          <input type="email" class="form-control" [(ngModel)]="curriculo.dados.email">
        </div>
      </div>

      </div>

     </div>
  </div>
  <div class="card">
    <div class="card-body">
    <div class="row">
      <div class="col-lg-11">
       <h5 class="card-title">Endereco</h5>
      </div>
      <div class="col-lg-1">
       <fa-icon class="icon" [icon]="faAngleUp" *ngIf="cardEnd===true" (click)="abrirEndereco()"></fa-icon>
       <fa-icon class="icon" [icon]="faAngleDown" *ngIf="cardEnd===false" (click)="abrirEndereco()"></fa-icon>
      </div>
   </div>
    <div *ngIf="cardEnd===true">
      <div class="row">
        <div class="form-group col-lg-4">
          <label for="nome" class="control-label">CEP:</label>
          <input type="text" name="cep" id="cep" class="form-control" [(ngModel)]="curriculo.endereco.cep" (blur)="buscarCEP()">
         </div>
         <div class="form-group col-lg-4">
          <label for="nome" class="control-label">Bairro:</label>
          <input type="text"  name="bairro" id="bairro" class="form-control" [(ngModel)]="curriculo.endereco.bairro">
         </div>
         <div class="form-group col-lg-4">
          <label for="nome" class="control-label">Cidade:</label>
          <input type="text" name="cidade" id="cidade" class="form-control" [(ngModel)]="curriculo.endereco.localidade">
         </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-10">
          <label for="nome" class="control-label">Logradouro:</label>
          <input type="text" name="rua" id="rua" class="form-control" [(ngModel)]="curriculo.endereco.logradouro">
         </div>
         <div class="form-group col-lg-2">
          <label for="nome" class="control-label">UF:</label>
          <input type="text" name="uf" id="uf" class="form-control" [(ngModel)]="curriculo.endereco.uf">
         </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-10">
          <label for="nome" class="control-label">Complemento:</label>
          <input type="text" name="comp" id="comp" class="form-control" [(ngModel)]="curriculo.endereco.complemento">
         </div>
         <div class="form-group col-lg-2">
          <label for="nome" class="control-label">Número:</label>
          <input type="text" name="numCasa" id="numCasa" class="form-control" [(ngModel)]="curriculo.endereco.numCasa">
         </div>
      </div>

    </div>
  </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-11">
         <h5 class="card-title">Objetivo</h5>
        </div>
        <div class="col-lg-1">
         <fa-icon class="icon" [icon]="faAngleUp" *ngIf="cardObj===true" (click)="abrirObjetivo()"></fa-icon>
         <fa-icon class="icon" [icon]="faAngleDown" *ngIf="cardObj===false" (click)="abrirObjetivo()"></fa-icon>
        </div>
     </div>
      <div *ngIf="cardObj===true">
        <div class="row">
          <div class="col-lg-12">
            <label for="nome" class="control-label">Descreva o objetivo aqui:</label>
            <textarea class="form-control" id="textarea" rows="3" [(ngModel)]="curriculo.objetivo"></textarea>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-11">
         <h5 class="card-title">Formação Acadêmica</h5>
        </div>
        <div class="col-lg-1">
         <fa-icon class="icon" [icon]="faAngleUp" *ngIf="cardForm===true" (click)="abrirFormacao()"></fa-icon>
         <fa-icon class="icon" [icon]="faAngleDown" *ngIf="cardForm===false" (click)="abrirFormacao()"></fa-icon>
        </div>
     </div>
      <div *ngIf="cardForm===true">
        <fa-icon class="icon" [icon]="faPlus" (click)="cadastrarFormacao()"></fa-icon>

          <div class="card" *ngFor="let item of curriculo.formacao; let i = index">
            <div class="card-body">
              <fa-icon class="icon" [icon]="faDash" (click)="removerFormacao(i)"></fa-icon>

              <div class="row">
                <div class="col-lg-12">
                  <label for="nome" class="control-label">Faculdade:</label>
                  <input type="text" name="faculdade" id="faculdade" class="form-control" [(ngModel)]="curriculo.formacao[i].nome_faculdade">
                </div>
                <div class="col-lg-8">
                  <label for="nome" class="control-label">Curso:</label>
                  <input type="text" name="curso" id="curso" class="form-control" [(ngModel)]="curriculo.formacao[i].curso">
                </div>
                <div class="col-lg-4">
                  <label for="nome" class="control-label">Periodo:</label>
                  <input type="text" name="periodo" id="periodo" class="form-control" [(ngModel)]="curriculo.formacao[i].periodo">
                </div>

                <div class="col-lg-2">
                  <label for="turno" class="control-label">Turno:</label>
                    <select class="form-control" [(ngModel)]="curriculo.formacao[i].turno" >
                    <option selected [ngValue]="null">Selecione</option>
                    <option *ngFor="let turno of turnos" [ngValue]="turno.turno">{{turno.turno}}</option>
                  </select>
                </div>
                <div class="col-lg-4">
                  <label for="data_inicio" class="control-label">Data inicio</label>
                  <input type="date" name="data_inicio" id="data_inicio" class="form-control" [(ngModel)]="curriculo.formacao[i].data_inicio">
                </div>
                <div class="col-lg-4">
                  <label for="data_termino" class="control-label">Data Termino</label>
                  <input type="date" name="data_termino" id="data_termino" class="form-control" [(ngModel)]="curriculo.formacao[i].data_termino">
                </div>

                <div class="col-lg-2">
                  <label for="status" class="control-label">Status:</label>
                  <select class="form-control" [(ngModel)]="curriculo.formacao[i].status" >
                    <option selected [ngValue]="null">Selecione</option>
                    <option *ngFor="let item of statusCurso" [ngValue]="item.status">{{item.status}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>




      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-11">
         <h5 class="card-title">Idiomas</h5>
        </div>
        <div class="col-lg-1">
         <fa-icon class="icon" [icon]="faAngleUp" *ngIf="cardIdiomas===true" (click)="abrirIdiomas()"></fa-icon>
         <fa-icon class="icon" [icon]="faAngleDown" *ngIf="cardIdiomas===false" (click)="abrirIdiomas()"></fa-icon>
        </div>
     </div>
      <div *ngIf="cardIdiomas===true">
        <fa-icon class="icon" [icon]="faPlus" (click)="cadastrarIdioma()"></fa-icon>
           <div class="card" *ngFor="let item of curriculo.idiomas; let i = index">
               <div class="card-body">
                <fa-icon class="icon" [icon]="faDash" (click)="removerIdiomas(i)"></fa-icon>

                  <div class="row">
                      <div class="col-lg-6">
                        <label for="nome" class="control-label">Idioma:</label>
                        <input type="text" name="comp" id="comp" class="form-control" [(ngModel)]="curriculo.idiomas[i].nome">
                      </div>
                      <div class="col-lg-6">
                        <label for="nome" class="control-label">Proeficiencia:</label>
                        <select class="form-control" aria-label=".form-select-lg example" [(ngModel)]="curriculo.idiomas[i].proeficiencia" >
                          <option selected [ngValue]="null">Selecione</option>
                          <option *ngFor="let item of proeficiencia" [ngValue]="item.nivel">{{item.nivel}}</option>
                        </select>
                      </div>
                  </div>
               </div>
           </div>

      </div>
     </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-11">
         <h5 class="card-title">Cursos Complementares</h5>
        </div>
        <div class="col-lg-1">
         <fa-icon class="icon" [icon]="faAngleUp" *ngIf="cardCursos===true" (click)="abrirCursos()"></fa-icon>
         <fa-icon class="icon" [icon]="faAngleDown" *ngIf="cardCursos===false" (click)="abrirCursos()"></fa-icon>
        </div>
     </div>
      <div *ngIf="cardCursos===true">
        <fa-icon class="icon" [icon]="faPlus" (click)="cadastrarCurso()"></fa-icon>
          <div class="card" *ngFor="let item of curriculo.cursos; let i = index">
            <div class="card-body">
            <fa-icon class="icon" [icon]="faDash" (click)="removerCurso(i)"></fa-icon>

              <div class="row">
                <div class="col-lg-12">
                  <label for="nome" class="control-label">Curso:</label>
                  <input type="text" name="comp" id="comp" class="form-control" [(ngModel)]="curriculo.cursos[i].nome">
                </div>
                <div class="col-lg-12">
                  <label for="nome" class="control-label">Instituição:</label>
                  <input type="text" name="comp" id="comp" class="form-control" [(ngModel)]="curriculo.cursos[i].instituicao">
                </div>

                <div class="col-lg-4">
                  <label for="nome" class="control-label">Data inicio</label>
                  <input type="date" name="comp" id="comp" class="form-control" [(ngModel)]="curriculo.cursos[i].data_inicio">
                </div>
                <div class="col-lg-4">
                  <label for="nome" class="control-label">Data Termino</label>
                  <input type="date" name="comp" id="comp" class="form-control" [(ngModel)]="curriculo.cursos[i].data_termino">
                </div>


              </div>
            </div>
          </div>
      </div>

      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-primary" (click)="cadastrarCurriculo()"> Gerar Curriculo</button>
    </div>
</app-layout>
